@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.hero-mobile {
    display: none;
}

.hero-image {
    width: 600px;
}

.content {
    width: 500px;
    padding: 60px 180px;
}

.logo {
    margin-bottom: 60px;
}

.start {
    font-weight: 250;
    color: hsl(0, 35%, 68%);
}

.heading {
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 15px;
    color: rgb(74, 69, 69);
}

.description {
    color: hsl(0, 35%, 68%);
    margin-top: -10px;
    line-height: 25px;
    width: 400px;
    font-size: 15px;
}

input {
    outline: none;
    padding: 15px 25px;
    border-radius: 30px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 25px;
    width: 390px;
    font-size: 1.1rem;
    border: 1px solid hsl(0, 47%, 90%);
    position: absolute;
    height: 27px;
}

form {
    display: block;
    position: relative;
}

input::placeholder {
    color: hsl(0, 35%, 68%);
    font-size: 14px;
    opacity: .8;
}

button {
    position: absolute;
    cursor: pointer;
    right: 0;
    border: none;
    color: white;
    outline: none;
    width: 80px;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0px 0px 18px 1px #f4aaab82;
    border-radius: 30px;
    transition: .3s ease box-shadow;
    top: 25px;
    right: 24px;
    padding: 18px 20px;
    width: 100px;
}

button:hover {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsla(0, 52%, 80%, 0.781));
    box-shadow: 0px 6px 14px 2px #f4aaabbf;
}

.error-logo {
    display: inline-block;
    position: absolute;
    right: 85px;
    top: 40px;
    right: 130px;
    display: none;
}

.error-msg {
    position: absolute;
    top: 95px;
    left: 25px;
    color: red;
    display: none;
}

@media only screen and (max-width:480px){
    .hero-image {
        display: none;
    }

    .hero-mobile {
        display: block;
        width: 100%;
    }

    .content {
        padding: 0;
        margin: 0;
    }

    .logo {
        margin-top: 30px;
        margin-left: 30px;
    }

    input {
        width: 250px;
        margin-left: 35px; 
    }

    button {
        width: 80px;
    }

    .heading, .description {
        width: 270px;
        text-align: center;
        margin-left: 35px;
    }

    .heading {
        font-size: 3rem;
    }
}